h1{
    color: #FF4500;
    font-family: 'Lobster';
    background-image: url("../bread-salad-lunch-meal.jpg");
}
body {
    padding-left: 15px;
    padding-right: 15px;
}
.jumbotron {
    position: relative;
    background: #000 url("../bread-salad-lunch-meal.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}
.blockquote-bold {
    font-weight: bold;
}
