{% extends "BTdUbs/base.html" %}

{% block content %}
<h1>Buy the Way!!!</h1>
<div class="chat">
            <blockquote>
                    I'm grabbing a cheesesteak for lunch
                <footer>me</footer>
            </blockquote>
            <blockquote class="blockquote-reverse">
                Get me one!
                <footer>my cubemate</footer>
            </blockquote>
            <blockquote>
                Me too! Extra cheese please!
                <footer>some random guy walking by</footer>
            </blockquote>
            <blockquote class="blockquote-reverse">
                Don't forget my order...  lots of onions
                <footer>guy in <cite title="the next cubicle">the next cubicle</cite></footer>
            </blockquote>
</div>
<p>But the Way here to help your friends or coworkers avoid unncessary trips to pick up lunch.  When someone in your group plans to run to a nearby cafe to pick up a sandwich, for example, he might as well pick up food for the rest of the group becuase he is on the way there anyway!</p>

<a class="btn btn-default btn-lg" href="/accounts/register" role="button">
    Get Started
</a>

<a class="btn btn-default btn-lg" href="/accounts/login" role="button">
    I'm buying! 
</a>
{% endblock %}
